@model IEnumerable<Product>

<table class="table table-dark">
    <thead style="text-align:center;">
    <th>Product No</th>
    <th>Product Name</th>
    <th>Product Price</th>
    <th>Product Type</th>

    </thead>
    <tbody style="text-align:center;">
        @foreach (var data in Model)
        {
        <tr>
            <td>@data.ProductNo</td>
            <td>@data.Name</td>
            <td>@data.Price</td>
            <td>@data.Type</td>
            <td><a class="btn btn-danger" type="submit" asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@data.Id">Delete</a></td>
        </tr>
        }

    </tbody>
</table>