@model IEnumerable<Order>

<table class="table table-light table-borderless table-striped">
    <thead>
        <tr>
            <th style="text-align: center; border-right: 1px solid #c8d6e5;">Order No</th>
            <th style="text-align: center; border-right: 1px solid #c8d6e5;">Date</th>
            <th style="text-align: center; border-right: 1px solid #c8d6e5;">OrderBy</th>
            <th style="text-align: center;">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model)
        {
        <tr>
            <td>@data.OrderNo</td>
            <td>@data.Date</td>
            <td>@data.OrderedBy</td>
            <td>@data.Description</td>
            <td><a class="btn btn-danger" asp-controller="Order" asp-action="DeleteOrder" asp-route-id="@data.Id">Delete</a></td>

        </tr>
        }

    </tbody>
</table>
