@model Order;


<div class="container card">
    <div class="row">
        <div class="col">
            <label>Order No : </label>
            @Model.OrderNo
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Date : </label>
            @Model.Date
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Order By : </label>
            @Model.OrderedBy
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Description : </label>
            @Model.Description
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Customer Name : </label>
            @Model.Customer.Name
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Customer Phone : </label>
            @Model.Customer.Phone
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" asp-controller="Order" asp-action="AllOrders">All Orders</a>
        </div>
    </div>
</div>
      
